.h1-style{
    color: black;
    font-family: Google Sans,roboto,arial,helvetica;
    font-size: 72px;
    font-weight: bold;
}
.h2-style{
    color: black;
    font-family: 'SamsungSharpSans', arial, sans-serif;
}
.about-description{
    word-wrap: break-word;
    background: #fff;
    color: #202124;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-family: var(--roboto-font-family);
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.444;
    margin: 0;
    padding: 0
}
